{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}沃的博客-修改邮箱{% endblock %}
{% block styles %}
{{super()}}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='change.css') }}">
{% endblock %}

{% block content %}
 <div class="change">
 <div class="main">
{% for message in get_flashed_messages() %}
<div class="alert">
{{ message }}
</div>
 {% endfor %}

<div class="page-header">
    <h1>修改邮箱</h1>
</div>
    {{ wtf.quick_form(form) }}
 </div>
 </div>
{% endblock %}

{% block scripts %}
{{ super() }}
 <script src="{{ url_for('static',filename='jquery/jquery-2.1.4/jquery.js/jquery.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='jquery/change_email.js') }}"></script>
{% endblock %}