<ul class="posts">
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                {% if post.author.real_avatar %}
                  <img class="img-rounded profile-thumbnail3" src="{{ post.author.real_avatar }}">
        {% else %}
                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
                {% endif %}
            </a>
        </div>
        <div class="post-content">
            <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
            {{ moment(post.timestamp).fromNow() }}
            </div>
            {% if post.author.name!=''%}
            <div class="user-title"><span>{{ post.author.name}}</span></div>
            {% endif %}
            </div>

            <div class="post-body">
                        {% if post.body_html|filterimg|safe !='None'%}
                       <div class="image">
                           <a target="_blank" href="{{ url_for('.post', id=post.id) }}">{{ post.body_html|filterimg|safe }}</a>
                       </div>
                    {% endif %}
                    {% if post.body_html|filterimg|safe !='None'%}
                    <div class="body-content">
                        <a  class="mytitle" target="_blank" href="{{ url_for('.post', id=post.id) }}">{{ post.title }}z</a>
                    {% if post.body_html %}
                        {{ post.body_html|filterimg2|safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                    </div>
                        {% else %}
                     <div class="body-content1">
                    <a  class="mytitle" href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a>
                    {% if post.body_html %}
                        {{ post.body_html|filterimg2|safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                    </div>
                    {% endif%}
            </div>
             <div class="post-footer1">
                {% if current_user == post.author %}
                   <a href="{{ url_for('.delete_post', id=post.id) }}">
                    <span class="label3">删除</span>
                </a>
                <a href="{{ url_for('.index') }}">
                    <span class="label2">算了</span>
                </a>
                 {% endif %}
        </div>
    </li>
</ul>
